In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
data_path = r"C:\\Users\\Cesar Dushimimana\\Documents\\aave-credit-scoring\\data\aave_cleaned_transactions.csv"
sample_path = r"c:\\Users\\Cesar Dushimimana\\Downloads\\wallet_id.csv"

In [29]:
mywallets = pd.read_csv(data_path)
sample_wallets = pd.read_csv(sample_path)

In [30]:
mywallets.head()

,userid,timestamp,blocknumber,action,action_type,amount,asset_symbol,asset_price_usd,pool_id,user_id_nested,to_id,amount_usd,user_differs
0,0x00000000001accfa9cef68cf5371a23025b6d4b6,2021-08-17 05:29:26,1629178166,deposit,Deposit,2.000000e+09,USDC,0.993832,0x2791bca1f2de4661ed88a30c99a7a9449aa84174,0x00000000001accfa9cef68cf5371a23025b6d4b6,NaN,1.987664e+09,False
1,0x000000000051d07a4fb3bd10121a343d85818da6,2021-05-20 15:36:53,1621525013,deposit,Deposit,1.450000e+20,WMATIC,1.970307,0x0d500b1d8e8ef31e21c99d1db9a6444d3adf1270,0x000000000051d07a4fb3bd10121a343d85818da6,NaN,2.856945e+20,False
2,0x000000000096026fb41fc39f9875d164bd82e2dc,2021-07-24 09:28:33,1627118913,deposit,Deposit,1.000000e+15,WMATIC,0.922377,0x0d500b1d8e8ef31e21c99d1db9a6444d3adf1270,0x000000000096026fb41fc39f9875d164bd82e2dc,NaN,9.223773e+14,False
3,0x000000000096026fb41fc39f9875d164bd82e2dc,2021-07-31 23:15:18,1627773318,deposit,Deposit,4.000000e+15,WMATIC,1.057483,0x0d500b1d8e8ef31e21c99d1db9a6444d3adf1270,0x000000000096026fb41fc39f9875d164bd82e2dc,NaN,4.229933e+15,False
4,0x0000000000e189dd664b9ab08a33c4839953852c,2021-04-19 15:25:07,1618845907,redeemunderlying,RedeemUnderlying,5.015480e+05,USDC,1.002130,0x2791bca1f2de4661ed88a30c99a7a9449aa84174,0x7f90122bf0700f9e7e1f688fe926940e8839f353,0x0000000000e189dd664b9ab08a33c4839953852c,5.026161e+05,True

In [31]:
sample_wallets.head()

                                    wallet_id
0  0x0039f22efb07a647557c7c5d17854cfd6d489ef3
1  0x06b51c6882b27cb05e712185531c1f74996dd988
2  0x0795732aacc448030ef374374eaae57d2965c16c
3  0x0aaa79f1a86bc8136cd0d1ca0d51964f4e3766f9
4  0x0fe383e5abc200055a7f391f94a5f5d1f844b9ae

In [46]:
# Read transactions json file into a DataFrame
import json

path = 'C:\\Users\\Cesar Dushimimana\\Documents\\aave-credit-scoring\\data\\transactions.json'

In [49]:
def load_json_data(path):
    with open(path, "r") as f:
        raw_data = json.load(f)
    return pd.DataFrame(raw_data)

df = load_json_data(path)
print(f"✅ Loaded {len(df)} rows")
df.head()

✅ Loaded 100000 rows

,_id,userWallet,network,protocol,txHash,logId,timestamp,blockNumber,action,actionData,__v,createdAt,updatedAt
0,{'$oid': '681d38fed63812d4655f571a'},0x00000000001accfa9cef68cf5371a23025b6d4b6,polygon,aave_v2,0x695c69acf608fbf5d38e48ca5535e118cc213a89e3d6...,0x695c69acf608fbf5d38e48ca5535e118cc213a89e3d6...,1629178166,1629178166,deposit,"{'type': 'Deposit', 'amount': '2000000000', 'a...",0,{'$date': '2025-05-08T23:06:39.465Z'},{'$date': '2025-05-08T23:06:39.465Z'}
1,{'$oid': '681aa70dd6df53021cc6f3c0'},0x000000000051d07a4fb3bd10121a343d85818da6,polygon,aave_v2,0xe6fc162c86b2928b0ba9b82bda672763665152b9de9d...,0xe6fc162c86b2928b0ba9b82bda672763665152b9de9d...,1621525013,1621525013,deposit,"{'type': 'Deposit', 'amount': '145000000000000...",0,{'$date': '2025-05-07T00:19:26.159Z'},{'$date': '2025-05-07T00:19:26.159Z'}
2,{'$oid': '681d04c2d63812d4654c733e'},0x000000000096026fb41fc39f9875d164bd82e2dc,polygon,aave_v2,0xe2d7eb815c89331a734ed6f204a06c385a1b39040baa...,0xe2d7eb815c89331a734ed6f204a06c385a1b39040baa...,1627118913,1627118913,deposit,"{'type': 'Deposit', 'amount': '100000000000000...",0,{'$date': '2025-05-08T19:23:47.877Z'},{'$date': '2025-05-08T19:23:47.877Z'}
3,{'$oid': '681d133bd63812d46551b6ef'},0x000000000096026fb41fc39f9875d164bd82e2dc,polygon,aave_v2,0x0d63a2eacd82b82f868db825ea7385e6bd8d046ee729...,0x0d63a2eacd82b82f868db825ea7385e6bd8d046ee729...,1627773318,1627773318,deposit,"{'type': 'Deposit', 'amount': '400000000000000...",0,{'$date': '2025-05-08T20:25:33.141Z'},{'$date': '2025-05-08T20:25:33.141Z'}
4,{'$oid': '681899e4ba49fc91cf2f4454'},0x0000000000e189dd664b9ab08a33c4839953852c,polygon,aave_v2,0x590eabb812c5006a6f4766f44e6e9d3ad0b5b563de69...,0x590eabb812c5006a6f4766f44e6e9d3ad0b5b563de69...,1618845907,1618845907,redeemunderlying,"{'type': 'RedeemUnderlying', 'amount': '501548...",0,{'$date': '2025-05-05T10:58:45.934Z'},{'$date': '2025-05-05T10:58:45.934Z'}

In [76]:
count = 0
for ids in sample_wallets:
    for user_wallet in df['userWallet']:
        if ids == user_wallet:
            count += 1

print(f"✅ Number of matching wallet IDs: {count}")


print(f"Total in sample_wallets: {len(sample_wallets)}")
print(f"Matching IDs: {count} in {len(df)} transactions")

✅ Number of matching wallet IDs: 0
Total in sample_wallets: 103
Matching IDs: 0 in 100000 transactions

In [62]:
# checking data type of userWallet
print(df['userWallet'].dtype)
print(sample_wallets['wallet_id'].dtype)

object
object